:root{
    --primary: #f4511e;
    --text: #474748;
    --icon:#ffffff;
    --navtext:#212529;
    --hover:#edf2f5;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f8fafb;
}
.parent{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.container{
    height: 500px;
    width: 952px;
    display: flex;
}
.container img{
    height: 500px;
    width: 600px;
}
.container .heading{
    font-size: 30px;
    font-family: 'Roboto' ,sans-serif;
    color: var(--navtext);
    margin-bottom: 2.5rem;
}
.container form{
    border-radius: 5px;
}
.container form input{
    padding: 1.5rem 1rem;
    outline: none;
    border: none;
    background: var(--hover) ;
    border-bottom: 1px solid #b5bdc2;
}
.input-1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.input-2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
::placeholder{
    font-size: 10px;
    color: #bdbcc6;
    font-weight: 400;
}
.btn{
    text-align: center;
    margin-top: 5rem;
    
}
.btn  .input-3{
    padding: 0.5rem 9rem;
    border-radius: 5px;
    background: var(--primary);
    color: var(--icon);
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
}
